.link { 
   position: absolute;
   right: 100px;
   display: flex;
   justify-content: center;
}

.btn {
    padding: 8px;
    margin: auto;
    font-weight: bold;
    border-radius: 20px;
    width: 120px;
    transition: .4s ease-in-out;
    text-align: center;
    border: 1px solid white;
}

.btn:hover {
    cursor: pointer;
    color: rgb(37,47,57);
    background-color: white;
}