.description {
    background-color: rgb(250, 250, 250);
}

.box {
    z-index: 2;
    color: rgb(37,47,57);
    background-color: rgb(250, 250, 250);
}

.span {
    position: relative;
    bottom: 10px;
    text-decoration: underline;
    font-size: 20px;
    font-weight: bold; 
}

.h2 {
    z-index: 2;
    padding: 8px;
    margin-top: 20px;
    font-size: 1.8em;
    text-align: center;
    font-weight: lighter;
    color: rgb(204,99,51);
}

.localisation {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: auto;
    background-color: rgb(250, 250, 250);
}

.card {
    width: 320px;
    border-radius: 20px 20px 0 0;
    background-color: rgb(37,47,57);
    margin: 20px;
}

.h3 {
    margin: 10px 0;
    color: rgb(204,99,51);
}

.cardTxt {
    margin: 10px;
    height: 200px;
    background-color: rgb(37,47,57);
}

.image {
   border-radius: 20px 20px 0 0;
}

.intro {
    margin: auto;
    width: 300px;
    display: flex;
    text-align: center;
    line-height: 1.7em;
    overflow: hidden;
    flex-direction: column;
    justify-content: center; 
}