.container {
    color: black;
    background-color: aliceblue;
}

.title {
    color: white;
    padding: 12px;
    text-align: center;
    background-color: rgb(204,99,51);
}

.h2 {
    padding: 12px;
    text-decoration: underline;
    color : rgb(204,99,51);
    background-color :rgb(37,47,57);
}

.intro {
    font-weight: bold;
    padding: 30px;
    font-size: 1.2em;
    color :rgb(37,47,57)
}

.p {
    font-size: 1.1em;
    font-weight: lighter;
    padding: 20px;
    color: white;
    background-color :rgb(37,47,57);
}

.ul {
    font-size: 1.1em;
    padding: 12px;
    font-weight: lighter;
    list-style: none;
    color: white;
    background-color :rgb(37,47,57)
}

.li {
    font-size: 1.1em;
    font-weight: lighter;
    color: rgb(37,47,57);
    padding: 8px;
    color: white;
    background-color :rgb(37,47,57)
}